body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main-header {
    background-image: url(../img/banner.jpg);
    padding: 1px;
    margin-top: 100px;

}
.main-header__avatar {
    display: block;
    width: 25%;
    margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 10px;

    box-shadow:0 0px 2px 1px rgba(0,0,0,0.2);
    border-radius: 999px;
}

.main-header h1 {
    text-align: center;

    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

ul.nostyle {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.inline-items {
    text-align: center;
}

ul.inline-items li {
    display: inline-block;
}

.main-nav {
    background-color: #333;
}

.main-nav ul li {
    margin: 15px 10px;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.info-section {
    background-color: #fff;
}

h2 {
    margin-top: 0;
}

.whatido__skill {
    background-repeat: no-repeat;
    background-position: center top;

}
.whatido__skill--code {
    background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
    background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
    background-image: url(../img/skill-product.png);
}

li.whatido__skill {
    margin-top: 60px;
    padding-top: 100px;
    width: 33.3%;
    float: left;
}

.info-section {
    padding: 30px 60px;
}

h2,li.whatido__skill h3,.info-section__description {
    text-align: center;
}

.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.info-section__description {
    font-style: italic;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

header h2:after {
  display: block;
  width: 80px;
  content: "";
  border-bottom: 3px solid black;
  margin: 0 auto;
}

ul.education-experience__list li img {
    float: left;
    width: 180px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.education-experience__list h3 p{
    overflow: hidden;
}

.photos__list li{
    float: left;
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
}
.photos__list li img {
    width: 100%;
}

